@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html,
body {
  width: 100%;
  min-height: 100vh;
  max-width: 2360px;
  margin: 0 auto;
}

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: inline-block;
}

span,
a {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}

::-webkit-scrollbar {
  display: none;
}

@layer components {
  .link-primary {
    @apply text-[rgb(0,76,196)] font-semibold underline cursor-pointer;
  }
  .link-secondary {
    @apply text-[14px] font-semibold  underline cursor-pointer;
  }
  .center {
    @apply absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2;
  }
}
